body{
    margin: 0px;
}

.header{
    background-color: #2E64FE;
    padding-top: 10px;
    width: 100%;
}

.block{
    width: 25%;
    float: left;
}

.inline{
    padding-top: 20px;
    width: 50%;
    float: left;
    text-align: center;
}

li{
    display: inline;
    padding: 10px;
}

.inline{
    color: white;
    font-family: sans-serif;
    position: relative;
}

.p{
    text-align: end;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    
}

.p a{
    text-decoration: none;
    color: #0B610B;
    background-color: white;
    font-family: monospace;
    
}

.container{
    width: 100%;
    margin: 0px;
    background-color: white;
}

.img1{
    text-align: left;
    padding-left: 40px;
    position: absolute;
}

.nav{
    padding-right: 40px;
    padding-top: 20px;
    text-align: end;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.active, .nav ul li a:hover{
    background-color:  #2E64FE ;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

span{
    color: white;
}


.slider{
    width: 100%;
    height: 400px;
    background: url(slider1.png);
    margin-top: 40px;
    position: relative;
    animation: slide 15s infinite;
}

@keyframes slide{
    25%{
        background: url(slider2.png);
    }
    50%{
        background: url(slider5.jpeg);
    }
    75%{
        background: url(slider6.jpg);
    }
    100%{
        background: url(slider7.jpg);
    }
}

.conti{
    background-color:  #2E64FE;
    color: white;
    margin: 10px auto;
    margin-left: 40px;
    margin-right: 40px;
}

marquee{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.conti span{
    color:greenyellow;
}

.conti a{
    text-decoration: none;
    color: blue;
}

.heading{
    color: green;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}

.heading span{
    color: blue;
    font-family: sans-serif;
}

.img2{
    text-align: center;
    
}

.img2 span{
    color: green;
}

.para{
    width: 60%;
    text-align: justify;
    margin-left: 20%;
    font-family: sans-serif;
    margin-top: 30px;
    color: grey;
}

.row{
    background-color:  #2E64FE ;
    width: auto;
    height: 100%;
    text-align: center;
}

.row1{
    width: 20%;
    position: relative;
    float: left;
    margin-left: 40px;
}

.row2{
    width: 20%;
    float: left;
    margin-left: 40px;
}

.row3{
    width: 20%;
    float: left;
    margin-left: 40px;
}

.row4{
    margin-left: 40px;
}

.general{
    padding-top: 40px;
}

.own{
    padding-bottom: 40px;
}

.parent{
    border: 1px dotted white;
    height: 400px;
    
}

.paru1{
    border: 1px solid  lightgrey;
    box-shadow: 9px 9px 5px lightgrey;
    width: 350px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
}

.paru1 h3{
    font-family: sans-serif;
    color:  #2E64FE;
}

.paru2{
    border: 1px solid  lightgrey;
    box-shadow: 9px 9px 5px lightgrey;
    width: 350px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}
.paru2 h3{
    font-family: sans-serif;
    color:  #2E64FE;
}

.paru3{
    border: 1px solid  lightgrey;
    box-shadow: 9px 9px 5px lightgrey;
    width: 350px;
    text-align: center;
    padding-top: 60px;
    background-color: white;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}
.paru3 h3{
    font-family: sans-serif;
    color:  #2E64FE;
}

.peer1{
    border: 1px solid  lightgrey;
    box-shadow: 9px 9px 5px lightgrey;
    width: 350px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
}
.peer1 h3{
    font-family: sans-serif;
    color:  #2E64FE;
}

.peer2{
    border: 1px solid  lightgrey;
    box-shadow: 9px 9px 5px lightgrey;
    width: 350px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}
.peer2 h3{
    font-family: sans-serif;
    color:  #2E64FE;
}

.peer3{
    border: 1px solid  lightgrey;
    box-shadow: 9px 9px 5px lightgrey;
    width: 350px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}
.peer3 h3{
    font-family: sans-serif;
    color:  #2E64FE;
}

.feet{
    color:  blue;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 80px;
    position: absolute;
}

.line{
    color: green;
    padding-top: 20px;
    padding-left: 80px;
}

.child{
    width: 70%;
}

.foot{
    width: 60%; 
}

.foot1{
    border: 0px solid lightgrey;
    box-shadow: 5px 2px 3px lightgrey;
    width: 300px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
}

.foot1 h4{
    color:  #2E64FE ;
    position: absolute ;
    padding-left: 90px;
    padding-top: 10px;
}
.foot1 img{
    float: left;
    padding-left: 20px;
}

.foot2{
    border: 0px solid  lightgrey;
    box-shadow: 5px 2px 3px lightgrey;
    width: 300px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}
.foot2 h4{
    color:  #2E64FE ;
    position: absolute ;
    padding-left: 90px;
    padding-top: 10px;
}
.foot2 img{
    float: left;
    padding-left: 20px;
}

.fit1 h4{
    color:  #2E64FE ;
    padding-left: 60px;
    position: relative;
    padding-top: 10px;
}

.toof{
    width: 80%; 
}
.toof1{
    border: 0px solid  lightgrey;
    box-shadow: 5px 2px 3px lightgrey;
    width: 300px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
    
}
.toof1 img{
    float: left;
    padding-left: 20px;
}
.toof1 h4{
    color:  #2E64FE ;
    position: absolute ;
    padding-left: 90px;
    padding-top: 10px;
}

.toof2{
    border: 0px solid  lightgrey;
    box-shadow: 5px 2px 3px lightgrey;
    width: 300px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}
.toof2 h4{
    color:  #2E64FE ;
    position: absolute ;
    padding-left: 90px;
    padding-top: 10px;
}
.toof2 img{
    float: left;
    padding-left: 20px;
}

.child{
    position: absolute;
}
.event{
    color: blue;
    margin-left: 850px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
}
.event1{
    color: green;
    text-align: end;
    margin-right: 350px;
    margin-top: 50px;
}
.slode{
    width: 20%;
    margin-left: 60%;
    padding-left: 60px;
    padding-right: 60px;
    
}
.slode1{
    color: grey;
    border: 0px solid lightgray;
    box-shadow: 6px 1px 9px lightgray;
    width: 20%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    position: absolute;
}
.slode1 a{
    text-decoration: none;
    color:  #2E64FE ;
}

.bottom{
    height: 400px;
}

.gallery{
    height: 450px;
    width: 98%;
    margin: auto;
}
.gallery1{
    color: green;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}

.gallery1 span{
    color: blue;
    font-family: sans-serif;
}

.gallery2{
    text-align: center;
    
}

.gallery2 span{
    color: green;
}

.photo{
    text-align: center;
    margin-top: 40px;
}

.rashan1{
    display: inline-block;
}
.rashan2{
    display: inline-block;
}
.rashan3{
    display: inline-block;
}
.rashan4{
    display: inline-block;
}
.rashan1:hover{
    border: 1px solid blue;
    box-shadow: 2px 3px 3px blue;
}
.rashan2:hover{
    border: 1px solid blue;
    box-shadow: 2px 3px 3px blue;
}
.rashan3:hover{
    border: 1px solid blue;
    box-shadow: 2px 3px 3px blue;
}
.rashan4:hover{
    border: 1px solid blue;
    box-shadow: 2px 3px 3px blue;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: #2E2E2E;
}

.end{
    width: 100%;
    height: 50px;
    background-color:  #2E64FE;
    
}
.end1{
    color: white;
    padding-top: 20px;
    padding-left: 60px;
    font-family: monospace;
    
}
.end1 span{
    color: white;
    position: relative;
    left: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.end1 span:hover{
    color: #2E2E2E;
    
}
.footer{
    width: 100%;
    height: 300px;
}
.footer1{
   color: white;
   padding-top: 50px;
   padding-left: 100px;
   
    
}
.footer2{
    padding-left: 100px;
}
.footer2 img{
    position: relative;
    top: 5px;
}
.footer2 span{
    color: white;
     
 }
 .footer3{
    padding-left: 100px;
}
 .footer3 img{
    position: relative;
    top: 5px;
}
.footer3 span{
    color: white;
     
 }
 .footer4{
    padding-left: 100px;
}
 .footer4 img{
    position: relative;
    top: 5px;
}
.footer4 span{
    color: white;
     
 }
 .footer5{
    padding-left: 100px;
}
 .footer5 img{
    position: relative;
    top: 5px;
}
.footer5 span{
    color: white;
     
 }
 .footer6{
    padding-left: 100px;
}
 .footer6 img{
    position: relative;
    top: 5px;
}
.footer6 span{
    color: white;
     
 }
 .footer7{
    position: absolute;
    padding-left: 300px;
 }

 .footer7 img{
    position: relative;
    top: 5px;
}
.footer7 span{
    color: white;
     
 }

 .topper{
     position: fixed;
     bottom: 5px;
     left: 1150px;
 }

